<ion-item class="custom-input" lines="none">
  <ion-icon class="login-icon" *ngIf="icon" slot="start" color="primary" [name]="icon"></ion-icon>
  <ion-input
    [type]="type" 
    [autocomplete]="autocomplete"
    [label]="label"
    [formControl]="control"
    label-placement="floating"
    class="login-input"
  ></ion-input>
  <ion-button *ngIf="isPassword" (click)="mostraruOcultarPassword()" slot="end" fill="clear" shape="round">
    <ion-icon class="login-icon" slot="icon-only" [name]="hide ? 'eye-outline' : 'eye-off-outline' "></ion-icon>
  </ion-button>
</ion-item>