<app-header [showMenu]="true" title="Inicio"></app-header>

<ion-content class="content">
  <app-banner></app-banner>

  <div class="content-box">
    <h2 class="content-box_heading">Base de datos - Estudiantes</h2>
    <div class="content-row">
      <img
        class="content-row_img"
        [src]="imgSrc"
        width="300"
        height="145"
        loading="lazy"
        alt="content-box_img"
      />

      <p class="content-row_text">
        La Base de Datos de Estudiantes es un repositorio digital dedicado a la
        gestión y consulta de información sobre estudiantes, facilitando el
        acceso a datos demográficos, académicos y de rendimiento para
        instituciones educativas y profesionales.
      </p>

      <p class="content-row_text">
        Esta base de datos permite una gestión eficiente de los registros de
        estudiantes, desde la inscripción inicial hasta la finalización de
        estudios, proporcionando herramientas para el seguimiento de progresos
        académicos, evaluación de desempeño y análisis de tendencias educativas.
        Además, ofrece funcionalidades para la integración con sistemas de
        gestión escolar, facilitando la interoperabilidad y la gestión unificada
        de la información estudiantil.
      </p>
    </div>
  </div>

  <div class="content-about">
    <p>Explorar contenido</p>

    <ul>
      <li *ngFor="let item of contentArray">
        <a class="content-about_link" (click)="redirectTo(item.route)" detail>
          {{ item.text }}
        </a>
      </li>
    </ul>
  </div>
  
</ion-content>