@import "../../../../theme/custom-variables.scss";

.card {
  padding: 2rem;
  --background: #{$white};
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1.5rem;

  .card-img {
    width: 30%;
  }
}

.card-elements {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;

  .card-content {
    width: 70%;
    margin-left: 2rem;

    .card-heading {
      font-size: 3rem;
      --color: #{$black};
      margin: 0;
      margin-bottom: 1rem;
    }

    .card-info {
      padding: 0;
      p {
        font-size: 1.5rem;
      }

      span {
        font-weight: 600;
      }
    }
  }
}
