@import "../../../theme/custom-variables.scss";

ion-content {
  --background: #{$primary};
  --color: #{$white};
  --padding-top: 2rem;

  h4 {
    margin-top: 1.5rem;
    font-weight: bold;
    font-size: 2rem;
  }

  ion-avatar {
    width: 12rem;
    height: 12rem;
    margin: 0 auto;
  }

  ion-menu {
    --width: 25.4rem;
    --min-width: 25.4rem;
    outline: none;
  }
}

ion-item {
  font-size: 1.4rem;
  --color: $white;
  --background: #{$primary};

  &:hover {
    --background: #{$dark-primary};
  }
  
  &.active {
    color: $secondary;
  }

  &.active {
    color: $secondary;

    ion-icon {
      color: $secondary;
    }
  }
}

.logout:hover {
  --background: #{$dark-primary};
}

.empty-icon {
  font-size: 10rem;
}
